# OS junk
.DS_Store
Thumbs.db

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
.venv/
env/
venv/

# VSCode / IDE
.vscode/
.idea/

# Node (in case you use JS/TS later)
node_modules/
npm-debug.log
yarn-error.log

# Logs
*.log

# Local environment settings
*.env.local
